.container {
  height: 100vh;
  /* max-width: 992px; */
  margin: 0 auto;
  flex: 1;
  padding: 2.5rem 9rem;

  display: flex;
  flex-direction: column;
}

.dark {
  background: var(--dark-background);
}

.container section {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}
